line, path {
	fill: #666666;
	stroke: #666666;
	stroke-width: 1.5px;
}

select {
	width: 100px;
	position: absolute;
	right: 5px;
	top: 5px;
}

li {
	list-style-type: circle;
	padding-left: 10px;
}

.perfect {
	background-color: #99ff99;
}

#app {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#alpha, #matcher {
	display:inline-block;
	width: 49.5%;
	background: white;
}

#alpha_report, #confirmer {
	display: block;
	height: 100px;
	position: relative;
}

#asserts, #target-pattern{
	display:block;
	height:450px;
	font: 14px sans-serif;
}

#alpha-info, #event-info {
	pointer-events: none;
	fill: black;
	word-wrap:break-word;
}

#information {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.true, .false {
	vertical-align: top;
	height: inherit;
	display: inline-block;
	width: 49.5%;
}

.true {
	color: black;
}

.false {
	color: red;	
}

.compare-info{
	display: inline-block;
}

#range { 
	position: absolute;
	bottom: 5px;
}