.toolbar_modes, .toolbar_buttons{
	top:0px;
	border-style:ridge;
	display:inline-block;
	border-color:#004785;
}

.tsvg{
	width: 40px;
	height: 500px;
}

.canvas{
	border-style:ridge;
	display:inline-block;
	border-color:#004785;
}

.csvg{ 
	width: 750px;
	height: 500px;
}

.forms{
	position: absolute;
	display:inline-block;
}

.ent1-form{
	top:-100px;
	background:white;
	position: absolute;
	border-style:ridge;
	border-color:#004785;
	height:100px;
}

.rel-form{
	top:-100px;
	background:white;
	position: absolute;
	border-style:ridge;
	border-color:#004785;
	height:100px;
}

.rel-ent2-form{
	top:-200px;
	background:white;
	position: absolute;
	border-style:ridge;
	border-color:#004785;
	height:150px;
}

circle{
	stroke:#004785;
	stroke-width:2;
	fill:white;
	cursor:pointer;
}

line{
	stroke:#004785;
	stroke-width:3;
	cursor:pointer;
}

path {
	stroke:#004785;
	stroke-width:1.6;
	cursor:pointer;
	fill:#004785;
}

label{
	display:block;
}

.unselect{
	fill: none;
}
.select{
	fill: #333399;
	opacity: 0.2;
	stroke: #333399;
}

.selection{
	border: 1px solid #89B;
	background: #BCE;
	background-color: #BEC;
	border-color: #8B0;
}

.entity1Color{
	display:none;
	background-color: #333399;
}

.entity2Color{
	display:none;
	background-color: #339966;
}

.bothColor{
	display:none;
	background-color: #9900cc;
}

.mover_hold{
	background-image:url('img/move.gif');
	background-repeat: no-repeat;
	height:30px;
	width:30px;
	position:relative;
}

.delete_hold{
	background-image:url('img/delete.gif');
	background-repeat: no-repeat;
	height:30px;
	width:30px;
	position:relative;
}

button{
	width: 5em;
}

.border{
	fill: none;
	stroke: black;
}