.twitter_admin_container {
	width: 600px;
	margin: 0px 5px 0px 5px;
	
	.twitter_admin_alert {
		color: #FF0000;
		font-weight: bold;
		font-size: 24px;
	}

	.twitter_admin_sub_alert {
		color: #FF0000;
		font-weight: bold;
		font-size: 16px;
	}

	.add_more_filters_button {
		margin: 0px;
		padding: 1px 4px;
	}

	.twitter_admin_form {
		border: none;
		padding: 0;
		margin: 0;

		.filter_line, .timeout_line, .field_input_line {
			display: block;
			width: 100%;
			margin-top: 2px;

			label {
				float: left;
				width: 135px;
				margin-right: 15px;
				padding-top: 3px;
			}

			input {
				width: 250px;
			}

			input.multi_filter {
				margin-left: 115px;
			}
		}

		.api_key_display_line {
			.api_id_display {
				display: inline-block;
				width: 300px;
			}

			.api_down_arrow {
				display: inline-block;
			}

			.stream_toggle_button {
				display:inline-block;
				float: right;
			}
		}
	}

	.twitter_admin_buttons_div {
		width: 365px;
		margin: 10px 0px 0px 0px;

		.button_inner_div {
			float: left;

			.twitter_admin_start {
				margin: 0px 10px 0px 0px;
			}

			.twitter_admin_stop {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}