<html>
	<head>
		<meta charset="utf-8">
		<script src="../../../../lib/underscore.js"></script>
		<script src="../../../../lib/jquery-2.0.2.js"></script>
		<script src="../../../../lib/backbone.js"></script>
		<script src="../../../../lib/d3.v3.js"></script>
		<script src="../../../../lib/owf-widget-debug.js"></script>
		<script src="../data_table.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="data_table_hold">
			<div class="data_table_title"></div>
			<div> Please select the number of rows to display 
				<input type="radio" name="rows" value="10" checked>10
				<label><input type="radio" name="rows" value="25">25</label>
				<label><input type="radio" name="rows" value="50">50</label>
				<label><input type="radio" name="rows" value="100">100</label>
				<label><input type="radio" name="rows" value="all" class="data_table_all_radio">All</label>
			</div>
			
			<table border="1" class='data_table_data'></table>
			
			<div class="data_table_inputs">
				Start Date: <input type="text" name="start" class="data_table_start">
				End Date: <input type="text" name="end" class="data_table_end">
				<input type="button" value="Submit" class="data_table_submit">
				<input type="button" value="Show All" class="data_table_reset">
			</div>
			<div class="data_table_text"></div>
		</div>

		<script type="text/javascript">
			var temp_data = [{
				"time": "2012-08-04T02:37:47-07:00",
				"ent1": "the ongoing reports of fraud",
				"rel": "establish",
				"ent2": "contacts"
			},
			{
				"time": "2012-09-04T16:41:56-08:00",
				"ent1": "# co-conspirators",
				"rel": "conspire to defraud",
				"ent2": "the united states government"
			},
			{
				"time": "2012-10-04T17:41:56-08:00",
				"ent1": "the defendant",
				"rel": "convict of",
				"ent2": "the conspiracy charge"
			},
			{
				"time": "2012-11-04T17:42:56-08:00",
				"ent1": "his co-conspirators",
				"rel": "devise",
				"ent2": "a scheme"
			}];

			$(function() {
				var raw_data_table = new data_table(temp_data, function(announcement) {
					console.log(announcement);
				});

				raw_data_table.generateTable();
			})
		</script>
	</body>
</html>
