/* line 1, ../sass/twitter_admin.scss */
.twitter_admin_container {
  width: 400px;
  margin: 0px 5px 0px 5px;
}
/* line 5, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_alert {
  color: #FF0000;
  font-weight: bold;
  font-size: 24px;
}
/* line 11, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_sub_alert {
  color: #FF0000;
  font-weight: bold;
  font-size: 16px;
}
/* line 17, ../sass/twitter_admin.scss */
.twitter_admin_container .filter_line, .twitter_admin_container .timeout_line {
  display: block;
  width: 100%;
}
/* line 21, ../sass/twitter_admin.scss */
.twitter_admin_container .filter_line label, .twitter_admin_container .timeout_line label {
  float: left;
  width: 100px;
  margin-right: 15px;
}
/* line 27, ../sass/twitter_admin.scss */
.twitter_admin_container .filter_line input, .twitter_admin_container .timeout_line input {
  width: 250px;
}
/* line 31, ../sass/twitter_admin.scss */
.twitter_admin_container .filter_line input.multi_filter, .twitter_admin_container .timeout_line input.multi_filter {
  margin-left: 115px;
}
/* line 36, ../sass/twitter_admin.scss */
.twitter_admin_container .add_more_filters_button {
  margin: 0px;
  padding: 1px 4px;
}
/* line 41, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form {
  border: none;
  padding: 0;
  margin: 0;
}
/* line 47, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div {
  width: 365px;
  margin: 10px 0px 0px 0px;
}
/* line 51, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div {
  float: right;
}
/* line 54, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div .twitter_admin_start {
  margin: 0px 10px 0px 0px;
}
/* line 58, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div .twitter_admin_stop {
  margin: 0px 0px 0px 0px;
}
