/* line 1, ../sass/twitter_admin.scss */
.twitter_admin_container {
  width: 600px;
  margin: 0px 5px 0px 5px;
}
/* line 5, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_alert {
  color: #FF0000;
  font-weight: bold;
  font-size: 24px;
}
/* line 11, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_sub_alert {
  color: #FF0000;
  font-weight: bold;
  font-size: 16px;
}
/* line 17, ../sass/twitter_admin.scss */
.twitter_admin_container .add_more_filters_button {
  margin: 0px;
  padding: 1px 4px;
}
/* line 22, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form {
  border: none;
  padding: 0;
  margin: 0;
}
/* line 27, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_line, .twitter_admin_container .twitter_admin_form .timeout_line, .twitter_admin_container .twitter_admin_form .field_input_line {
  display: block;
  width: 100%;
  margin-top: 2px;
}
/* line 32, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_line label, .twitter_admin_container .twitter_admin_form .timeout_line label, .twitter_admin_container .twitter_admin_form .field_input_line label {
  float: left;
  width: 135px;
  margin-right: 15px;
  padding-top: 3px;
}
/* line 39, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_line input, .twitter_admin_container .twitter_admin_form .timeout_line input, .twitter_admin_container .twitter_admin_form .field_input_line input {
  width: 250px;
}
/* line 43, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_line input.multi_filter, .twitter_admin_container .twitter_admin_form .timeout_line input.multi_filter, .twitter_admin_container .twitter_admin_form .field_input_line input.multi_filter {
  margin-left: 115px;
}
/* line 49, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .api_key_display_line .api_id_display {
  display: inline-block;
  width: 300px;
}
/* line 54, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .api_key_display_line .api_down_arrow {
  display: inline-block;
}
/* line 58, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .api_key_display_line .stream_toggle_button {
  display: inline-block;
  float: right;
}
/* line 65, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div {
  width: 365px;
  margin: 10px 0px 0px 0px;
}
/* line 69, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div {
  float: left;
}
/* line 72, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div .twitter_admin_start {
  margin: 0px 10px 0px 0px;
}
/* line 76, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div .twitter_admin_stop {
  margin: 0px 0px 0px 0px;
}
