/* line 1, ../sass/twitter_admin.scss */
.twitter_admin_container {
  width: 600px;
  margin: 0px 5px 0px 5px;
}
/* line 5, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_alert {
  color: #FF0000;
  font-weight: bold;
  font-size: 24px;
}
/* line 11, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_sub_alert {
  color: #FF0000;
  font-weight: bold;
  font-size: 16px;
}
/* line 17, ../sass/twitter_admin.scss */
.twitter_admin_container .add_more_filters_button {
  margin: 0px;
  padding: 1px 4px;
}
/* line 22, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form, .twitter_admin_container .twitter_filter_form {
  display: inline-block;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
/* line 29, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_item_div, .twitter_admin_container .twitter_filter_form .filter_item_div {
  display: inline-block;
  float: right;
}
/* line 34, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_line, .twitter_admin_container .twitter_admin_form .timeout_line, .twitter_admin_container .twitter_admin_form .field_input_line, .twitter_admin_container .twitter_filter_form .filter_line, .twitter_admin_container .twitter_filter_form .timeout_line, .twitter_admin_container .twitter_filter_form .field_input_line {
  display: block;
  width: 100%;
  margin-top: 2px;
}
/* line 39, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_line label, .twitter_admin_container .twitter_admin_form .timeout_line label, .twitter_admin_container .twitter_admin_form .field_input_line label, .twitter_admin_container .twitter_filter_form .filter_line label, .twitter_admin_container .twitter_filter_form .timeout_line label, .twitter_admin_container .twitter_filter_form .field_input_line label {
  float: left;
  width: 135px;
  margin-right: 15px;
  padding-top: 3px;
}
/* line 46, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_line input, .twitter_admin_container .twitter_admin_form .timeout_line input, .twitter_admin_container .twitter_admin_form .field_input_line input, .twitter_admin_container .twitter_filter_form .filter_line input, .twitter_admin_container .twitter_filter_form .timeout_line input, .twitter_admin_container .twitter_filter_form .field_input_line input {
  width: 400px;
}
/* line 51, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .filter_field_with_no_button, .twitter_admin_container .twitter_filter_form .filter_field_with_no_button {
  margin-right: 24px;
}
/* line 56, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .api_key_display_line .api_id_display, .twitter_admin_container .twitter_filter_form .api_key_display_line .api_id_display {
  display: inline-block;
  width: 300px;
}
/* line 61, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .api_key_display_line .buttons_container_div, .twitter_admin_container .twitter_filter_form .api_key_display_line .buttons_container_div {
  display: inline-block;
  float: right;
}
/* line 65, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .api_key_display_line .buttons_container_div .toggle-dark, .twitter_admin_container .twitter_filter_form .api_key_display_line .buttons_container_div .toggle-dark {
  padding-right: 10px;
  display: inline-block;
}
/* line 70, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .api_key_display_line .buttons_container_div .api_delete_img, .twitter_admin_container .twitter_filter_form .api_key_display_line .buttons_container_div .api_delete_img {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../../lib/Black_Remove.png");
  background-size: 100%;
}
/* line 79, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .api_key_display_line .buttons_container_div .api_down_arrow, .twitter_admin_container .twitter_filter_form .api_key_display_line .buttons_container_div .api_down_arrow {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../../lib/arrowLeft.gif");
  background-size: 100%;
}
/* line 90, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_form .twitter_admin_api_field, .twitter_admin_container .twitter_filter_form .twitter_admin_api_field {
  float: right;
  margin-right: 24px;
}
/* line 96, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div {
  width: 365px;
  margin: 10px 0px 0px 0px;
}
/* line 100, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div {
  float: left;
}
/* line 103, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div .twitter_admin_start {
  margin: 0px 10px 0px 0px;
}
/* line 107, ../sass/twitter_admin.scss */
.twitter_admin_container .twitter_admin_buttons_div .button_inner_div .twitter_admin_stop {
  margin: 0px 0px 0px 0px;
}
/* line 113, ../sass/twitter_admin.scss */
.twitter_admin_container hr {
  width: 100%;
  margin: 10px 0px 5px 0px;
}
