.toolbar_modes, .toolbar_buttons, .canvas {
	border-style: ridge;
	display: inline-block;
	border-color: #666666;
	border-width: 2px;
}

.tsvg {
	width: 40px;
	height: 500px;
}

.csvg { 
	width: 500px;
	height: 500px;
}

.forms {
	position: absolute;
	display:inline-block;
}

.ent1-form, .rel-form {
	top:-200px;
	background:white;
	position: absolute;
	border-style:ridge;
	border-color:#666666;
	height:100px;
	width:185px;
}

.rel-ent2-form {
	top:-300px;
	background:white;
	position: absolute;
	border-style:ridge;
	border-color:#666666;
	height:150px;
	width:185px;
}

circle {
	cursor:pointer;
	stroke: #666666;
	stroke-width:1.5px;
}

line, path {
	fill: #666666;
	stroke: #666666;
	stroke-width:1.5px;
	cursor:pointer;
}

text {
	font-size: 1.2em;
}

.selection {
	border: 1px solid #89B;
	background: #BCE;
	background-color: #BEC;
	border-color: #8B0;
}

/* hidden divs for node/link color */
.entity1Color {
	display:none;
	background-color: #333399;
}

.entity2Color {
	display:none;
	background-color: #339966;
}

.bothColor {
	display:none;
	background-color: #9900cc;
}

.lineColor {
	display:none;
	background-color: #666666;
}

/* toolbar */
.unselect {
	fill: none;
}

.select {
	fill: #333399;
	opacity: 0.2;
	stroke: #333399;
}