html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	border: none;
	margin: 0px;
	padding: 0px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#draw_container,
#map_container,
#time_container {
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#location{
	margin-left: auto;
	margin-right: auto;
}

.hold {
	width: 100%;
	display: inline-block;
}

.draw-info {
	opacity: 0;
	text-align: center;
}

.scroll {
	overflow:scroll;
	height:500px;
}

select {
	width: 175px;
}

#canvas, 
#custom-accordion,
#toolbar_modes,
#toolbar_buttons{
	vertical-align: top;
	height: 500px;
}

.ent1-form, .rel-form, .rel-ent2-form{
	height: 0px;
	opacity: 0;
}

.csvg, .tsvg {
	height: 500px;
}

circle {
	cursor:pointer;
	stroke: #000000;
	stroke-width:1px;
}

line, path {
	fill: #000000;
	stroke: #000000;
	stroke-width:1.3px;
	cursor:pointer;
}

text {
	font-size: 1.2em;
}

/* hidden divs for node/link color */
.aloneColor {
	display:none;
	background-color: #ffcc99;
}

.entity1Color {
	display:none;
	background-color: #333399;
}

.entity2Color {
	display:none;
	background-color: #339966;
}

.bothColor {
	display:none;
	background-color: #9900cc;
}

.lineColor {
	display:none;
	background-color: #666666;
}

/* toolbar */
.unselect {
	fill: none;
}

.select {
	fill: #333399;
	opacity: 0.2;
	stroke: #333399;
}