#draw_container {
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.hold {
	width: 100%;
	display: inline-block;
}

.draw-info {
	opacity: 0;
	text-align: center;
}

#canvas, 
#custom-accordion,
#toolbar_modes,
#toolbar_buttons{
	vertical-align: top;
	height: 500px;
}

.ent1-form, .rel-form, .rel-ent2-form{
	height: 0px;
	opacity: 0;
}

.csvg, .tsvg {
	height: 500px;
}

circle {
	cursor:pointer;
	stroke: #666666;
	stroke-width:1.5px;
}

line, path {
	fill: #666666;
	stroke: #666666;
	stroke-width:1.5px;
	cursor:pointer;
}

text {
	font-size: 1.2em;
}

/* hidden divs for node/link color */
.aloneColor {
	display:none;
	background-color: #ffcc99;
}

.entity1Color {
	display:none;
	background-color: #333399;
}

.entity2Color {
	display:none;
	background-color: #339966;
}

.bothColor {
	display:none;
	background-color: #9900cc;
}

.lineColor {
	display:none;
	background-color: #666666;
}

/* toolbar */
.unselect {
	fill: none;
}

.select {
	fill: #333399;
	opacity: 0.2;
	stroke: #333399;
}