#raw_data {
	border-color:#004785;
	border-width:3px;
	border-collapse:collapse;
	font-size:15px;
}
td {
	padding:0px 15px 0px 5px;
}
th {
	cursor: pointer;
	padding: 10px 30px 10px 5px;
	text-align:left;
	background-repeat:no-repeat;
	background-position:right;
}
.up{
	background-image:url('img/asc.png');
}
.down{
	background-image:url('img/des.png');
}
.unsorted{
	background-image:url('img/uns.png');
}
.lit {
	background-color:#366fb4;
}
.unlit {
	background-color:#d5d8d9;
}
#inputs{
	display:inline-block;
}
#title{
	color:#004785;
	display:inline-block;
}

