.data_table_container{
	overflow: auto;
	height: 500px;
}

table {	
	border-color:#004785;
	border-collapse:collapse;
	font-size:15px;
}

.data_table_data{
	//margin-top:29px;
}

.data_table_headers{
	margin:0px;
	background: white;
	//position: fixed;
	border-color:#004785;
}

td {
	padding: 5px 20px 5px 5px;
}

th {
	cursor: pointer;
	padding: 5px 20px 5px 5px;
	text-align:left;
	background-repeat:no-repeat;
	background-position:right;
}

.up{
	background-image:url('img/asc.png');
}

.down{
	background-image:url('img/des.png');
}

.unsorted{
	background-image:url('img/uns.png');
}

.lit {
	background-color:#366fb4;
}

.unlit {
	background-color:#d5d8d9;
}

.data_table_inputs{
	display:inline-block;
}

.data_table_text{
	word-wrap: break-word;
	border-style:solid;
	border-color:#004785;
}

.data_table_pages{
	display:inline-block;
	float: right;
}

a.other{
	color: #004785;
	text-decoration:underline;
	margin: 5px;	
	cursor: pointer;
}

a.current{
	font-weight: bold;
	margin: 5px;	
}

.data_table_title{
	color:#004785;
	display:inline-block;
}

.data_table_display_info{
	
}

.data_table_display_count{
	display:inline-block;
}

