<h5>Start Aspirin Therapy:</h5>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Outpatient - Order Aspirin 81mg Q daily
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Outpatient - Order Aspirin 325mg Q daily
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Inpatient - Order Aspirin 81mg Q daily
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Inpatient - Order Aspirin 81mg Q daily
  </label>
</div>

<h5>Patient on aspirin therapy from some other source:</h5>
Date<input type="text" class="form-control" placeholder="Date">
Location<input type="text" class="form-control" placeholder="Location">
Comment<input type="text" class="form-control" placeholder="Comment">