<h5>FOBT</h5>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Order occult blood (fecal) lab test
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    FOBT cards x3 given to patient
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Patient had previous FOBT lab test done
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Patient declined having FOBT lab test
  </label>
</div>

<h5>Flex Sigmoidoscopy</h5>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Order flex sigmoidoscopy
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Patient had previous sigmoidoscopy
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Patient declined to have sigmoidoscopy performed
  </label>
</div>

<h5>Colonoscopy</h5>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Patient had previous sigmoidoscopy
  </label>
</div>