<div class="twitter_admin_alert"></div>
<div class="twitter_admin_sub_alert"></div>
<form class="twitter_admin_form">
</form>
<hr />
<div class="twitter_admin_buttons_div">
	<div class="button_inner_div">
		<button type="button" class="twitter_admin_new_key">New Key</button>
		<button type="button" class="twitter_admin_save_button">Save Key</button>
		<button type="button" class="twitter_admin_cancel_button">Cancel</button>
	</div>
</div>