<div class="twitter_admin_alert"></div>
<div class="twitter_admin_sub_alert"></div>
<form class="twitter_admin_form">
	<div class="filter_line">
		<label for="filter_0" class="base_filter_label">Filter :</label>
		<input name="filter_0" class="twitter_admin_filter filter_field_with_more_button" />
		<button type="button" class="add_more_filters_button">+</button>
	</div>
	<div class="timeout_line">
		<label for="timeout">Timeout :</label>
		<input name="timeout" class="twitter_admin_timeout timeout_unspecified" />
	</div>
</form>
<div class="twitter_admin_buttons_div">
	<div class="button_inner_div">
		<button type="button" class="twitter_admin_start">Start</button>
		<button type="button" class="twitter_admin_stop">Stop</button>
	</div>
</div>