.element {
	display: inline-block;
	background: silver;
	width: 10px;
	white-space: nowrap;
	vertical-align: bottom;
}
	
.element:hover {
	background: yellow;
	font: black;
}
		
#container {
	overflow-x:scroll;
	overflow-y:hidden;
	height: 120px;
	line-height: 100px;
	white-space: nowrap;
	margin:auto;
}